/*Class responsible for the body's style*/
.body {
    background-color: rgb(64, 64, 64);
    margin: 0;
      
}

/*Class responsible for the header's style*/
.header {
    background-color: rgb(39, 39, 39);
    text-align: center;
    padding: 20px;
    width: available;
}

/*Class responsible for the name/title's style*/
.topName {
    color: white;
    margin-left: 20px;
}

/*Class responsible for the description's style*/
.description {
    color: rgb(0, 182, 182);
    margin-left: 20px;
}

/*Class that defines the navigation 
bar on top of the screen*/
.topNavBar {
  /*Overflow: Specifies whether to clip the content 
  or to add scrollbars when the content of an element 
  is too big to fit in the specified area*/
    overflow: hidden;
    background-color: #333;
  }

  /*Class responsible for every element
  from the navigation bar*/
.topNavBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 136.3px;
    text-decoration: none;
    font-size: 18px;
  }

  /*Class responsible for style the element
  while the mouse is passing through*/
.topNavBar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /*Class responsible for style the element that
  has been clicked*/
.topNavBar a.active {
    background-color: rgb(0, 182, 182);
    color: white;
  }