  /*Class responsible for the body's style*/
.body {
    background-color: rgb(64, 64, 64);
    margin: 0;
      
}

  /*Class responsible for the header's style*/
.header {
    background-color: rgb(39, 39, 39);
    text-align: center;
    padding: 20px;
    width: available;
}

  /*Class responsible for the name/title's style*/
.topName1 {
  text-decoration: none;
  color: rgb(0, 182, 182);
  font-size: 35px;
}
.topName2 {
  text-decoration: none;
  color: white;
  margin-left: 0px;
  font-size: 35px;
}
  /*Class responsible for style the element
  while the mouse is passing through*/
.topNameMouse a:hover {
  text-decoration: none;
  color: white;
}

  /*Class responsible for the description's style*/
.description1 {
    text-decoration: none;
    color: rgb(0, 182, 182);
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
.description2 {
  color: white;
  margin-left: 20px;
}
  /*Class responsible for style the element
  while the mouse is passing through*/
.descriptionMouse a:hover {
  text-decoration: none;
  color: white;
}

  /*Class that defines the navigation 
  bar on top of the screen*/
.topNavBar {
  /*Overflow: Specifies whether to clip the content 
  or to add scrollbars when the content of an element 
  is too big to fit in the specified area*/
    overflow: hidden;
    background-color: #333;
  }
  /*Class responsible for every element
  from the navigation bar*/
.topNavBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 116.3px;
    text-decoration: none;
    font-size: 18px;
  }
  /*Class responsible for style the element
  while the mouse is passing through*/
.topNavBar a:hover, .dropdownMenu:hover .dropButton {
    background-color: rgb(202, 202, 202);
    color: black;
  }
  /*Class responsible for style the element that
  has been clicked*/
.topNavBar a.active {
    background-color: rgb(0, 182, 182);
    color: white;
  }


  /* The dropdownMenu container */
.dropdownMenu {
  float: left;
  overflow: hidden;
}
  /* Dropdown button */
.dropdownMenu .dropButton {
  font-size: 18px; 
  border: none;
  outline: none;
  color: white;
  padding: 18px 136.2px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
  /*Dropdown content (hidden by default) */
.dropdownMenu-content {
  display: none;
  position: absolute;
  background-color: #e2e2e2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  /* Links inside the dropdown */
.dropdownMenu-content a {
  float: none;
  color: rgb(39, 39, 39);
  padding: 18px 125px;
  text-decoration: none;
  display: block;
  text-align: center  ;
}
 /*Class responsible for style the element
  while the mouse is passing through*/
.dropdownMenu-content a:hover {
  background-color: white;
  color: rgb(0, 182, 182);
}
  /* Show the dropdown menu on hover */
.dropdownMenu:hover .dropdownMenu-content {
  display: block;
}